#cloud-config
package_update: true
package_upgrade: true
packages:
  - python3
  - python3-venv
  - git
  - unzip
  - curl

users:
  - default
  - name: ${USER}
    ssh_authorized_keys:
      - ${ID_SSH_PUB}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

runcmd:
  - echo "✅ Cloud-init terminé"
