---
# roles/vault-users/tasks/main.yml
- name: Lire les mots de passe depuis Vault
  ansible.builtin.set_fact:
    user_passwords: "{{ user_passwords | default({}) | combine({
      item.name: (
        lookup(
          'community.hashi_vault.hashi_vault',
          'secret=secret/data/users/' ~ item.name,
          token=vault_root_token,
          url=vault_addr,
          field='password',
          default='changeme123'
        )
      )
    }) }}"
  loop: "{{ users_k8s }}"

- name: Debug - Vérifier le contenu des mots de passe récupérés
  debug:
    msg: "Mot de passe pour {{ item.key }} = {{ item.value }}"
  loop: "{{ user_passwords | dict2items }}"
- name: Ensure required groups exist
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  loop: "{{ users_k8s | map(attribute='groups') | flatten | unique }}"
- name: Ensure users exist
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: "{{ (item.groups | default([])) | join(',') }}"
    shell: /bin/bash
    create_home: true
    password: "{{ (user_passwords[item.name] | string) | password_hash('sha512') }}"
  loop: "{{ users_k8s }}"
