# ===========================
#  GITHUB APP (BASTION)
# ===========================
github_app_id: "2024451"               # utilisé seulement par bastion
github_app_installation_id: "88168770"
github_app_secrets_dir: "/etc/github-app"
github_app_private_key_file: "{{ github_app_secrets_dir }}/nudger-vm.private-key.pem"

# ===========================
#  GITHUB APP (NOEUDS via Vault)
# ===========================
vault_addr: "http://127.0.0.1:8200"
# ⚠️ idéalement tu stockes vault_root_token en Ansible Vault, pas en clair
vault_root_token: "{{ lookup('env', 'VAULT_TOKEN') | default('root-token-de-test') }}"

github_app_id_vault: >-
  {{ lookup('community.hashi_vault.hashi_vault',
            'secret=secret/data/github_app
             token=' ~ vault_root_token ~ '
             url=' ~ vault_addr ~ '
             field=app_id')
     | default('') }}

github_app_installation_id_vault: >-
  {{ lookup('community.hashi_vault.hashi_vault',
            'secret=secret/data/github_app
             token=' ~ vault_root_token ~ '
             url=' ~ vault_addr ~ '
             field=installation_id')
     | default('') }}

github_app_token_vault: >-
  {{ lookup('community.hashi_vault.hashi_vault',
            'secret=secret/data/github_app
             token=' ~ vault_root_token ~ '
             url=' ~ vault_addr ~ '
             field=token')
     | default('') }}
users_k8s:
  - name: kubernetes-admin
    groups: ["sudo"]
    kubeconfig: /etc/kubernetes/admin.conf
    ssh_public_key: "{{ lookup('file', '~/.ssh/id_vm_ed25519.pub') }}"
    git_repos:
      - repo: git@github.com:loicgo29/nudger-gitops.git
        dest_rel: nudger-gitops
      - repo: git@github.com:loicgo29/nudger.git
        dest_rel: nudger
    git_identity:
      - { key: "user.name",  value: "LoGo" }
      - { key: "user.email", value: "loicgourmelon@gmail.com" }

  - name: ops-loic
    groups: [sudo, ansible, k8s, dev]
    sudo_nopass: true
    ssh_public_key: "{{ lookup('file', '~/.ssh/id_vm_ed25519.pub') }}"

  - name: dev-loic
    groups: [sudo, ansible, k8s, dev]
    sudo_nopass: true
    ssh_public_key: "{{ lookup('file', '~/.ssh/id_vm_ed25519.pub') }}"
