---
# defaults/main.yml

# Désactivation du swap
disable_swap_comment_fstab: true
disable_swap_create_systemd_unit: true
disable_swap_unit_name: "disable-swap.service"
disable_swap_set_sysctl: true
disable_swap_sysctl_value: 0

# ================================
# Gestion de version Kubernetes
# ================================
# Exemple : k8s_version: 1.31.13-1.1
# Si non fourni, on dérive k8s_minor automatiquement.
k8s_minor: >-
  {{ (k8s_version | regex_replace('^([0-9]+\\.[0-9]+).*', '\\1'))
     if (k8s_version is defined and k8s_version|length > 0)
     else '1.31' }}

# Packages Kubernetes à installer (version exacte si k8s_version défini)
kubernetes_packages:
  - "kubeadm={{ k8s_version if (k8s_version is defined and k8s_version|length>0) else k8s_minor ~ '.*' }}"
  - "kubelet={{ k8s_version if (k8s_version is defined and k8s_version|length>0) else k8s_minor ~ '.*' }}"
  - "kubectl={{ k8s_version if (k8s_version is defined and k8s_version|length>0) else k8s_minor ~ '.*' }}"

# Dépendances communes
common_apt_dependencies:
  - ca-certificates
  - curl
  - gnupg
  - lsb-release

# Chemin du keyring GPG
kubernetes_keyring_path: /etc/apt/keyrings/kubernetes-archive-keyring.gpg
