---
- name: Installer et initialiser Vault
  hosts: bastion
  become: true
  vars_files:
    - "../../group_vars/vault/vault.yml"
  roles:
    - vault

- name: Debug root_token récupéré
  hosts: bastion
  become: true
  tasks:
    - name: Lire le root_token depuis vault-init.json (si généré)
      command: jq -r .root_token /root/.ansible/artifacts/bastion/vault-init.json
      register: vault_token
      changed_when: false
      failed_when: vault_token.rc != 0

    - debug:
      msg: "Root token = {{ vault_token.stdout | regex_replace('(.{6}).*', '\\1...') }}"

